/* Importing Google font - Fira Sans */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
    color: white;
  background: url("/images/mountain-aesthetic.jpg") black;
  background-size: cover;
}
.navbar a{
  text-decoration: none;
  list-style-type: none;

}

.navbar h1{
  font-size: 2rem;
  text-decoration: none;
  font-family: Inter;
  color: white;
  padding-left: 2rem;
}
.navbar h1 span{
  color: #1dbf73;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0;
  background-image:linear-gradient(black , rgba(105, 105, 105, 0)) ;
}

header .navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  padding-block: 20px ;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #1dbf73;
}

.navbar .menu-links .join-btn a {
  border: 1px solid #fff;
  padding: 8px 15px;
  border-radius: 4px;
}

.navbar .menu-links .join-btn a:hover {
  color: #fff;
  border-color: transparent;
  background: rgba(105, 105, 105, 0.75);
  backdrop-filter: blur(5px);
}

.hero-section {
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.hero-section .content {
  background: rgba(96, 96, 96, 0.34);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  max-width: 1280px;
  margin: 0 auto 40px;
  width: 100%;
}

.hero-section .content h1 {
  color: #fff;
  font-size: 3rem;
  max-width: 630px;
  line-height: 65px;
  font-family: Inter;
  padding: 2rem;
}
.hero-section .content h1 span{
  color: #1dbf73;
  font-family: Inter;
}
.hero-section .content h1:hover{
  font-weight: bolder;
  color: dimgrey;
}
.hero-section .content h1 span:hover{
  color: #19a463;
}

/*.hero-section .search-form {*/
/*  height: 48px;*/
/*  display: flex;*/
/*  max-width: 630px;*/
/*  margin-top: 30px;*/
/*}*/

/*.hero-section .search-form input {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  border: none;*/
/*  outline: none;*/
/*  padding: 0 15px;*/
/*  font-size: 1rem;*/
/*  border-radius: 4px 0 0 4px;*/
/*}*/

/*.hero-section .search-form button {*/
/*  height: 100%;*/
/*  width: 60px;*/
/*  border: none;*/
/*  outline: none;*/
/*  cursor: pointer;*/
/*  background: #1dbf73;*/
/*  color: #fff;*/
/*  border-radius: 0 4px 4px 0;*/
/*  transition: background 0.2s ease;*/
/*}*/

/*.hero-section .search-form button:hover {*/
/*  background: #19a463;*/
/*}*/

.hero-section .popular-tags {
  display: flex;
  color: #fff;
  gap: 25px;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 25px;
  padding: 2rem;
}

.hero-section .popular-tags .tags {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
}

.hero-section .tags li a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 12px;
  border-radius: 50px;
  transition: 0.2s ease;
}

.hero-section .tags li a:hover {
  color: #000;
  background: #fff;
}

.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}

@media screen and (max-width: 900px) {
  header.show-mobile-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
  }

  .navbar .menu-links {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background: #fff;
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #000;
    font-size: 1.1rem;
  }

  .navbar .menu-links .join-btn a {
    padding: 0;
  }

  .navbar .menu-links .join-btn a:hover {
    color: #1dbf73;
    background: none;
  }

  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }

  .hero-section {
    background: none;
  }

  .hero-section .content {
    margin: 0 auto 80px;
  }

  .hero-section .content :is(h1, .search-form) {
    max-width: 100%;
  }

  .hero-section .content h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 55px;
  }

  .hero-section .search-form {
    display: block;
    margin-top: 20px;
  }

  .hero-section .search-form input {
    border-radius: 4px;
  }

  .hero-section .search-form button {
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
  }

  .hero-section .popular-tags {
    display: none;
  }
}
main .form{
  color: white;
  display: grid;
  place-content: center;
  margin: auto;
  align-items: center;
  margin: 6rem 35% 2rem 35%;
  backdrop-filter: blur(5px);
  background: rgba(59, 59, 59, 0.62);
  padding-block: 4rem;
  padding-inline: 6rem;
  border-radius: 2rem;
}
.body_content{
  text-align: left;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.51);
  border-radius: 10px;
  height: auto;
  margin-inline: 5%;
  margin-block: 6rem;
  line-height: 1.5rem;
  padding-block: 3rem;
  padding-inline: 2rem;

}
.body_content h1,
.body_content h2 ,
.body_content h3{
  text-decoration: underline;


}
.fstack_web_dev , .front_end, .body_content{
  color: white;
}
main .course_list_container{
  display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  gap: 10px;
  /*margin: 5px;*/
  margin: 6rem 0 0 0;
}
{

}
.course_list{
  margin: 0 5% 0 5%;
  text-align: left;
  background: rgba(116, 140, 157, 0.49);
  backdrop-filter: blur(3px);
  padding: 4rem 2rem;
  border-radius: 10px;

}
.course_list a{
  text-decoration: none;
  color: black;
}
.centeralign{
  display: flex;
  grid-column: span 2;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.map{
  margin: 6rem 0 2rem 0;
  align-self: center;
  max-width: 100vw;

}
.map iframe{
  align-items: center;
  padding:1rem ;
  border-radius: 6px;

}